.Icon{
    width: 60px;
    height: 40px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/fdgunderclothes.appspot.com/o/Img%2Ficon.png?alt=media&token=23dcc1c2-e461-4c40-a1b6-37a398337ad0);
    margin: 5px;
    background-position: center;
    background-size: cover;
}



